[submodule "3rdparty/entt"]
	path = 3rdparty/entt
	url = git@github.com:skypjack/entt.git
[submodule "3rdparty/sfml"]
	path = 3rdparty/sfml
	url = git@github.com:sfml/sfml
[submodule "3rdparty/corrade"]
	path = 3rdparty/corrade
	url = git@github.com:mosra/corrade.git
