[submodule "3rdparty/entt"]
	path = 3rdparty/entt
	url = git@github.com:skypjack/entt.git
[submodule "3rdparty/box2d"]
	path = 3rdparty/box2d
	url = git@github.com:erincatto/box2d.git
[submodule "3rdparty/sfml"]
	path = 3rdparty/sfml
	url = git@github.com:sfml/sfml
